# Configuração do banco de dados PostgreSQL
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost/metrics_api

# API Key do New Relic
NEWRELIC_API_KEY=seu_api_key_aqui
NEWRELIC_ACCOUNT_ID=seu_account_id_aqui

# API Keys do DataDog (opcional)
DATADOG_API_KEY=seu_api_key_aqui
DATADOG_APP_KEY=seu_app_key_aqui 